
$game-board-width: 1140px;
$bg-color: lighten($game-board-base-color, 15%);
$footer-bg-color: lighten($game-board-base-color, 10%);

html, body {
    font-family: 'Quantico', sans-serif;
    background-color: $bg-color;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

h1, h2, h3, h4, h5, h6, p, span, a, button, .btn {
    color: darken($game-board-base-color, 30%);
}

a, button, .btn {
    &:visited, &:active, &:link {
        text-decoration: none;
        color: darken($game-board-base-color, 30%);
    }
    
    &:hover {
        text-decoration: none;
        color: darken($game-board-base-color, 10%) !important;
    }
}

a, button, btn {
    border-radius: 1% !important;
    
    // removes annoying blue border from buttons
    &:focus {
        outline: 0 !important;
    }
}

.btn {
    border: none;
    background-color: lighten($game-board-base-color, 20%);
    
    &:hover, &:active {
        background-color: lighten($game-board-base-color, 25%) !important;
    }
}

a {
    
    .base-cell {
        // removes whitespace in between cells of game board       
        font-size: 0;
        
        background-color: $game-board-base-color;
        border: none;
    }
    
    .cell {
        @extend .base-cell;
        float: left;    
    }
    
    .cell-sm {
        @extend .base-cell;
        
        $cell-dim-sm: $game-board-width / 64;
        width: $cell-dim-sm;
        height: $cell-dim-sm;
    }
    
    .cell-md {
        @extend .base-cell;
        
        $cell-dim-md: $game-board-width / 48;
        width: $cell-dim-md;
        height: $cell-dim-md;
    }
    
    .cell-lg {
        @extend .base-cell;
        
        $cell-dim-lg: $game-board-width / 32;
        width: $cell-dim-lg;
        height: $cell-dim-lg;
    }
    
    
}


header {
    margin: 64px 0 12px 0;
    
    #faze-logo {
        max-width: 128px;
    }
    
    .help-link {
        margin: 8px;
    }
    
    #help-panel {
        background-color: $footer-bg-color;
        border-radius: 2;
        padding: 48px 48px 64px 48px;
        
        p {
            line-height: 200%;
            
            br {
                line-height: 300%;
            }
        }
        
    }
}

.cancel-x {
    font-size: 3em;
    font-weight: bold;
    position: relative;
        top: -56px;
        left: 30px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

#content {
    position: relative;
    padding-top: 20px;
    padding-bottom: 200px;
}

footer {
    position: absolute;
        bottom: 0;
        left: 0;
    p {
        color: darken($game-board-base-color, 10%) !important;
    }
    background-color: $footer-bg-color;
    width: 100%;
    padding: 96px 0 72px 0;
   
}

.panel {
    width: $game-board-width;
    height: $game-board-width / 2;
}

#intro-panel {
   @extend .panel;
    
    $part-game-board-h: $game-board-width / 16;
    #grid-selector-group, #game-start-btn {
        padding: $part-game-board-h 0 $part-game-board-h 0;
        margin: 0 auto 0 auto;
        
        .grid-selector {
            padding-bottom: 32px;
            margin: 0 32px 0 32px;
        }
    }
    
}

#notification-panel {
    @extend .panel;
    
    h1, h2, h3, h4, h5, h6, button {
        margin: 64px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        padding-top: 64px !important;
    }
}

#game-board {
    width: $game-board-width;
    padding: 0;
    border: none;
}

.stat {
    padding-top: 16px;
    padding-bottom: 72px;
}