

$game-board-width: 1140px;
// game board has 16:9 aspect ratio
$game-board-cols-default: 48;
$cell-width: $game-board-width / $game-board-cols-default;
$cell-height: $cell-width;

// starting color of the game board cells
$game-board-base-color: #ccc;


a {
    .cell {
        // removes whitespace in between cells of game board
        float: left;
        font-size: 0;
        
        // base cell styling
        border: none;
        width: $cell-width;
        height: $cell-height;
        background-color: $game-board-base-color;
        
        // removes annoying blue border from buttons
        &:focus {
            outline: 0;
        }
    }
}

header {
    margin: 64px 0 12px 0;
    
    .help-link {
        margin: 8px;
    }
}

footer {
    margin: 128px 0 96px 0;
}

#game-board {
    width: $game-board-width;
    padding: 0;
    border: none;
}

#stats-bar {
    margin: 16px 0 0 0;
}
